*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
#nav-background{
    background-color: rgb(243, 240, 240) !important;
} 
.nav-link:hover{
    background-color:rgb(99, 145, 178);
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgb(36, 144, 221),
    0px 0px 10px rgb(58, 147, 210) ,
    0px 0px 15px rgb(99, 145, 178),
    0px 0px 20px rgb(52, 98, 130);
    -webkit-box-reflect: below 0.5px
    linear-gradient(transparent,#0005);
     transform: scale(1.1);
    font-style: oblique; 
    
 }
#video{
    width: 100%;
    height: 100%;
}
.d-flex{
    position: absolute;
    top:20px;

  left: 600px;
    width: 20%;
    height: 5%;
    text-indent: 20px;
   
    
}

#logos{
    background-color:  rgb(243, 240, 240);
    width: 100%;
    height: 70px;
}

.texts{
    color: rgb(52, 212, 212);
    font-size: 20px;
    position: absolute;
    top:10px;
    font-weight: 900;
    font-style: italic;
    

}
#techno{
    color: rgb(22, 204, 204);
    font-size: 20px;
    position: absolute;
    text-indent: 20px;
    top:30px;
    font-weight: 900;
    font-style: italic;

}
.logo{
    width: 150px;
    height: 70px;
}

#head{
    position: absolute;
    color: white;
    font-size: 25px;
    top: 200px;
    margin-left: 100px;
}
#drop{
    position: absolute;
    top: 18px;
    margin-left: 1250px;
    border: radius 10px 20px;
    background: transparent;
}
#textss{
    color: white;
    font-size: medium;
    font-weight: lighter;
}


.container-fluid{
    border: 1.5em ;
    border-radius: 100px 0px 120px 0px;
    
    backdrop-filter: blur(20px);
    width: 100%;
    height: 90px;
    background-image: linear-gradient(to left top, rgb(200, 191, 191),rgb(99, 145, 178));
 position: -webkit-sticky;   
}
.nav-item{
    padding: 10px 30px 50px 70px;
   margin-left: 20px;
    list-style-type: none;
    justify-content: space-between;
   
    
}
.nav-link{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    backdrop-filter: blur(20px);
    color: rgb(252, 244, 244) !important;
    display:flex;
    margin-top: 20px;
    margin-left: 50px;
    
}
#asus{
    
    text-decoration: none;
   
    color: white;
    font-size: 20px;
    
}
.list{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    
}
.footer1{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
#logoss
{
    text-align: justify;
    text-decoration:none;
    margin-left: 20px;
    color: grey;
    
}
#Aboutus{
    color: grey;
    text-decoration:none !important;
    margin-left: 10px;
}